<!--The content below is only a placeholder and can be replaced.-->
<div class="headContainer">
    <div class="title">
        <h3>
           {{ title }}
        </h3>
      </div>

      <div class="cart">
          <fa-icon [icon]="faShoppingCart" size="2x"></fa-icon>

      </div>


</div>
<div class="navbar">
      <div class="prod-link">
        <a href="#">Products</a>
      </div>
      <div class="searchbox">
          <input type="text" placeholder="search products here"/>
          <button type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>

        </div>
</div>


<app-home></app-home>

<app-product-list></app-product-list>

<router-outlet></router-outlet>
